* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #bed0e3;
}

h1 {
    color: rgb(230, 98, 27);
    
}


a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(136, 82, 26);
}

.banner {
    background-color: rgb(234, 241, 240);
}

#description{
   text-align: center;
}